@page "{id:int?}"
@using WebBank.AppCore.Entities
@model WebBank.Pages.EditModel
<div class="container">
    <h1 class="text-center">Редактирование пользователя</h1>
    <hr />
    <form method="post">
        <input asp-for="Client!.Id" type="hidden" />
        <div>
            <h2 class="text-center text-uppercase">Фио</h2>
            <div>
                <label asp-for="Client!.Surname">Фамилия<span class="required-asterisk">*</span></label>
                <input asp-for="Client!.Surname" />
            </div>
            <br />
            <div>
                <label asp-for="Client!.Name">Имя<span class="required-asterisk">*</span></label>
                <input asp-for="Client!.Name" />
            </div>
            <br />
            <div>
                <label asp-for="Client!.Patronymic">Отчество<span class="required-asterisk">*</span></label>
                <input asp-for="Client!.Patronymic" />
            </div>
        </div>
        <hr />
        <div>
            <h2 class="text-center text-uppercase">Общая информация</h2>
            <div>
                <label asp-for="Client!.Birthday">День рождения<span class="required-asterisk">*</span></label>
                <input type="date" asp-for="Client!.Birthday" />
            </div>
            <br />
            <div>
                Пол<span class="required-asterisk">*</span>:
                @foreach (var gender in Enum.GetValues(typeof(Gender)).OfType<Gender>())
                {
                    <label>
                        <input type="radio" asp-for="Client!.Gender" value="@((int)gender)" checked=@(gender == Model.Client!.Gender) />
                        @(gender == AppCore.Entities.Gender.Female ? "Женщина" : "Мужчина")
                    </label>
                }
            </div>
            <br />
            <div>
                <label asp-for="Client!.FamilyStatusId">Семейное положение<span class="required-asterisk">*</span></label>
                <select asp-items="Model.FamilyStatusOptions" asp-for="Client!.FamilyStatusId"></select>
            </div>
            <br />
            <div>
                <label asp-for="CitizenshipIds">Гражданство<span class="required-asterisk">*</span>:</label>
                <select multiple asp-items="Model.CitizenshipOptions" asp-for="CitizenshipIds"></select>
            </div>
            <br />
            <div>
                <label asp-for="Client!.DisabilityGroupId">Инвалидность<span class="required-asterisk">*</span></label>
                <select asp-items="Model.DisabilityGroupOptions" asp-for="Client!.DisabilityGroupId"></select>
            </div>
            <br />
            <div>
                <label>
                    <input type="checkbox" asp-for="Client!.IsPensioner" />
                    Пенсионер
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" asp-for="Client!.IsConscript" />
                    Военнообязанный
                </label>
            </div>
        </div>
        <hr />
        <div>
            <h2 class="text-center text-uppercase">Пасспортные данные</h2>
            <div>
                <label asp-for="Client!.PassportSeries">Серия<span class="required-asterisk">*</span></label>
                <input asp-for="Client!.PassportSeries" />
                <label asp-for="Client!.PassportNumber">Номер<span class="required-asterisk">*</span></label>
                <input asp-for="Client!.PassportNumber" type="number" />
            </div>
            <br />
            <div>
                <label asp-for="Client!.IdentificationNumber">Идентификационный номер<span class="required-asterisk">*</span></label>
                <input asp-for="Client!.IdentificationNumber" />
            </div>
            <br />
            <div>
                <label asp-for="Client!.IssuePlace">Место выдачи</label><label>*</label>
                <textarea asp-for="Client!.IssuePlace" cols="80" rows="2" class="unresizable"></textarea>
            </div>
            <br />
            <div>
                <label asp-for="Client!.IssueDate">Дата выдачи<span class="required-asterisk">*</span></label>
                <input type="date" asp-for="Client!.IssueDate" />
            </div>
        </div>
        <hr />
        <div>
            <h2 class="text-center text-uppercase">Контактная информация</h2>
            <div>
                <label asp-for="Client!.BirthPlace">Место рождения<span class="required-asterisk">*</span></label>
                <textarea asp-for="Client!.BirthPlace" cols="80" rows="2" class="unresizable"></textarea>
            </div>
            <br />
            <div>
                <label asp-for="Client!.RegistrationTownId">Город прописки<span class="required-asterisk">*</span></label>
                <select asp-for="Client!.RegistrationTownId" asp-items="Model.TownOptions"></select>
            </div>
            <br />
            <div>
                <label asp-for="Client!.RegistrationAddress">Адрес прописки<span class="required-asterisk">*</span></label>
                <textarea asp-for="Client!.RegistrationAddress" cols="80" rows="2" class="unresizable"></textarea>
            </div>
            <br />
            <div>
                <label asp-for="Client!.TownId">Город проживания<span class="required-asterisk">*</span></label>
                <select asp-for="Client!.TownId" asp-items="Model.TownOptions" cols="80" rows="2" class="unresizable"></select>
            </div>
            <br />
            <div>
                <label asp-for="Client!.Address">Адрес проживания<span class="required-asterisk">*</span></label>
                <textarea asp-for="Client!.Address" cols="80" rows="2" class="unresizable"></textarea>
            </div>
            <br />
            <div>
                <label asp-for="Client!.MobilePhone">Мобильный телефон</label>
                <input asp-for="Client!.MobilePhone" />
            </div>
            <br />
            <div>
                <label asp-for="Client!.HomePhone">Домашний телефон</label>
                <input asp-for="Client!.HomePhone" />
            </div>
            <br />
            <div>
                <label asp-for="Client!.Email">Адрес электронной почты</label>
                <input asp-for="Client!.Email" />
            </div>
        </div>
        <hr />
        <div>
            <h2 class="text-center text-uppercase">Работа</h2>
            <div>
                <label asp-for="Client!.WorkPlace">Место работы</label>
                <textarea asp-for="Client!.WorkPlace" cols="80" rows="2" class="unresizable"></textarea>
            </div>
            <br />
            <div>
                <label asp-for="Client!.WorkPosition">Должность</label>
                <input asp-for="Client!.WorkPosition" />
            </div>
            <br />
            <div>
                <label asp-for="Client!.MonthlyIncome">Доход, <span class="text-nowrap">BYN/месяц</span></label>
                <input asp-for="Client!.MonthlyIncome" type="number" />
            </div>
        </div>
        <hr />
        <div class="text-center">
            <input type="submit" value="Сохранить" />
        </div>
    </form>
</div>