@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Список пользователей</h2>
    <p><a href="/Create">Добавить пользователя</a></p>
    <table>
        <tr><th>Имя</th><th>Возраст</th></tr>
        @foreach (var client in Model.Clients)
        {
            <tr><td>@client.Name</td><td>@client.Surname</td></tr>
        }
    </table>
</div>
